/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eukavarizer Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input options
    taxonomy_id                     = 4932
    outdir                          = "./output"
    // sequence_dir                    = "./data/9606/gib/"                                        // For not specified: []
    // reference_genome                = "./data/9606/ref/hg38.fa.gz"                              // For not specified: []
    // sequence_dir                    = "./data/4932/ena/"                                     // For not specified: []
    // reference_genome                = "./data/4932/ref/GCF_000146045.2_R64_genomic.fna.gz"   // For not specified: []
    reference_genome                = []
    sequence_dir                    = []

    // MultiQC options
    multiqc_config                  = null
    multiqc_title                   = null
    multiqc_logo                    = null
    max_multiqc_email_size          = '25.MB'
    multiqc_methods_description     = null

    // Sequence Processor Parameters
    minimap2_threshold               = params.minimap2_threshold ?: 300 // Number of bp until minimap2 is triggered instead of bwa_mem

    // Enable/Disable individual algorithms
    delly_flag                      = true
    manta_flag                      = false
    gridss_flag                     = false
    dysgu_flag                      = false // Disabled
    tiddit_flag                     = false
    svaba_flag                      = false // Disabled
    sniffles_flag                   = false
    cutesv_flag                     = false
    fastqc_flag                     = false
    multiqc_flag                    = false

    // Enable/Disable debug views (set to true to show debug views for each step)
    debug_flag                      = false

    // Default SURVIVOR filter parameters (when no profile is set)
    sur_max_distance_breakpoints        = 2000  // Allow a larger gap between breakpoints, useful for large SVs
    sur_min_supporting_callers          = 1     // Require at least 1 supporting caller
    sur_account_for_type                = 1     // Consider all types of SVs (deletions, duplications, etc.)
    sur_account_for_sv_strands          = 0     // Don't account for strands (optional, can be adjusted based on needs)
    sur_estimate_distanced_by_sv_size   = 0     // Don't estimate distance based on SV size
    sur_min_sv_size                     = 50    // Minimum SV size of 50 bp (small enough for small variants)

    sur_min_sv_size_filter              = 100   // Filter out very small variants (set to 100 bp)
    sur_max_sv_size_filter              = 50000 // Maximum SV size allowed in the final output (50 kbp as a reasonable upper limit)
    sur_min_allele_freq_filter          = 0.05  // Set to 5% allele frequency for minimum threshold
    sur_min_num_reads_filter            = 3     // Minimum 3 supporting reads (default for most datasets)

    // BCFTOOLS filter arguments (when no profile is set)
    bcftools_filter_args = "--include 'QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"' -Oz"

    // Boilerplate options
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = true
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g) -v $(pwd):/data -w /data'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/eukavarizer custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/eukavarizer.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'docker.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/eukavarizer'
    author          = """Ondřej Sloup""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Ondřej Sloup',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/eukavarizer'
    description     = """Structural Variance for Eukaryotic Genomes"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run nf-core/eukavarizer -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = '-\033[2m----------------------------------------------------\033[0m-\n' +
             '                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m\n' +
             '\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m\n' +
             '\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m\n' +
             '\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m\n' +
             '                                        \033[0;32m`._,._,\'\033[0m\n' +
             '\033[0;35m  nf-core/eukavarizer ' + manifest.version + '\033[0m\n' +
             '-\033[2m----------------------------------------------------\033[0m-\n'

        afterText =
    (manifest.doi ? '\n* The pipeline\n' : '') +
    (manifest.doi ? manifest.doi.tokenize(',').collect {
        '    https://doi.org/' + it.trim().replace('https://doi.org/', '')
    }.join('\n') + '\n' : '') +
    '* The nf-core framework\n' +
    '    https://doi.org/10.1038/s41587-020-0439-x\n\n' +
    '* Software dependencies\n' +
    '    https://github.com/nf-core/eukavarizer/blob/master/CITATIONS.md\n'

    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Load seqretrieval.config
includeConfig 'conf/biodbcore.config'

// Load profiles.config
includeConfig 'conf/tools.config'

// Load Kubernetes config
profiles {
    kube { includeConfig 'conf/kube.config' }
}
