/*
 * nf-test configuration file
 * https://code.askimed.com/nf-test/
 */

config {
    // Location for storing all nf-test cases (set to root to discover all tests)
    testsDir "."

    // Directory for storing temporary files
    workDir ".nf-test"

    // Location of nextflow.config for tests
    configFile "tests/config/nextflow.config"

    // Default profile for tests
    profile "docker"

    // Enable tracing (set to false if containers don't have procps)
    withTrace true

    // Auto-sort channels by default
    autoSort true
}
