params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = "results"

    // QC flags
    fastp_flag = true
    bbmap_bbduk_flag = true
    seqtk_flag = false
    fastqc_flag = true
    multiqc_flag = true

    // Alignment flags
    bwamem2 = false
    minimap2_flag = false

    // Thresholds
    long_read_threshold = 1000
    seqtk_size = 10000
    seq_center = null
}
