/*
 * Test-specific configuration
 */

params {
    // Test data paths
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/pipelines/'

    // Pipeline-specific test parameters
    outdir = "results"

    // ENA parameters - set to null for tests that do not use BioDbCore
    library_strategy = null
    instrument_platform = null
    minimum_coverage = null
    maximum_coverage = null
    max_results = null
    assembly_quality = null
}

// Allow tests to use smaller resources
process {
    cpus = 1
    memory = '2.GB'
    time = '30.m'
}
