params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = "results"

    // SURVIVOR parameters for testing
    sur_max_distance_breakpoints = 1000
    sur_min_supporting_callers = 1
    sur_account_for_type = true
    sur_account_for_sv_strands = false
    sur_estimate_distanced_by_sv_size = false
    sur_min_sv_size = 30

    // SURVIVOR FILTER parameters
    sur_min_sv_size_filter = 30
    sur_max_sv_size_filter = -1
    sur_min_allele_freq_filter = -1
    sur_min_num_reads_filter = -1
}
