params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = "results"

    // SV caller flags
    delly_flag = true
    manta_flag = true
    gridss_flag = true
    dysgu_flag = true
    tiddit_flag = true
    svaba_flag = true
    sniffles_flag = true
    cutesv_flag = true

    // Alignment flags
    bwamem2 = false
    minimap2_flag = false

    // Other flags
    gridss_annotate = false
    svaba_annotate = false
    long_read_threshold = 1000
}
