/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eukavarizer minimal test: horse_minimal_sv_all_callers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This profile runs a lightweight structural variant (SV) test using a minimal
    short-read dataset for *Equus caballus* (taxonomy ID: 9796). All SV callers except
    SVABA are enabled. It uses the RefSeq reference genome.

    This is designed for quick functional validation of the pipeline with local test data.

    Usage:
        nextflow run nf-core/eukavarizer -profile horse_minimal_sv_all_callers,docker
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'horse_minimal_sv_all_callers'
    config_profile_description = 'Minimal short-read test on horse (9796) with all SV callers enabled except SVABA.'

    // Reference and reads
    taxonomy_id       = 9796
    // outdir            = "./output"

    // Sequence Processor Parameters
    minimap2_flag                   = false
    long_read_threshold             = 300
    bwamem2                         = false
    seqtk_flag                      = false
    seqtk_size                      = 1.0

    // SV callers
    delly_flag                      = true
    manta_flag                      = true
    gridss_flag                     = true
    dysgu_flag                      = true
    tiddit_flag                     = true
    svaba_flag                      = true
    sniffles_flag                   = false
    cutesv_flag                     = false
    dysgu_args                      = "${params.dysgu_profile}"
    // cutesv_args                     = "${params.cutesv_profile} --report_readid --max_split_parts -1"

    // Quality Control Parameters
    fastqc_flag  = false
    multiqc_flag = false

    // BCFTOOLS filter
    bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"' -Oz"
}
