k8s {
    namespace = 'sloup-ns'
    runAsUser = 1000
    computeResourceType = 'Job'
    cpuLimits = true
    storageClaimName = 'eukavarizer'
    storageMountPath = '/mnt'
    launchDir = '/mnt/launch/'
    workDir = '/mnt/work/'
}

executor {
    queueSize = 30
}

process {
    executor = 'k8s'
    pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1, seccompProfile:[type:'RuntimeDefault']]], [automountServiceAccountToken:false]]
}
