k8s {
    namespace = 'eukavarizer'
    runAsUser = 1000
    computeResourceType = 'Job'
    cpuLimits = true
    storageClaimName = 'eukavarizer'
    storageMountPath = '/mnt'  // <-- Replace [mountpath] if needed
    launchDir = '/mnt/data1'
    workDir = '/mnt/data1/tmp'
}

executor {
    queueSize = 30
}

process {
    executor = 'k8s'
    pod = [
        [
            securityContext: [
                fsGroupChangePolicy: 'OnRootMismatch',
                runAsUser: 1000,
                runAsGroup: 1,
                fsGroup: 1,
                runAsNonRoot: true,
                seccompProfile: [ type: 'RuntimeDefault' ]
            ]
        ],
        [
            name: 'main',
            securityContext: [
                allowPrivilegeEscalation: false,
                capabilities: [ drop: ['ALL'] ],
                runAsNonRoot: true,
                seccompProfile: [ type: 'RuntimeDefault' ]
            ]
        ],
        [
            automountServiceAccountToken: false
        ]
    ]
}
