process {
  executor = 'k8s'

  k8s {
    namespace = 'eukavarizer'
    runAsUser = 1000
    computeResourceType = 'Job'
    cpuLimits = true
    storageClaimName = 'eukavarizer'
    storageMountPath = '/mnt'
    launchDir = '/mnt/data1'
    workDir = '/mnt/data1/tmp'

    podOptions {
      securityContext = [
        fsGroupChangePolicy: 'OnRootMismatch',
        runAsUser          : 1000,
        runAsGroup         : 1000,
        fsGroup            : 1000,
        runAsNonRoot       : true,
        seccompProfile     : [ type: 'RuntimeDefault' ]
      ]

      container = [
        name: 'main',
        securityContext: [
          allowPrivilegeEscalation: false,
          runAsNonRoot            : true,
          capabilities            : [ drop: ['ALL'] ],
          seccompProfile          : [ type: 'RuntimeDefault' ]
        ]
      ]
    }
  }
}

executor {
    queueSize = 30
}

process {
    executor = 'k8s'
}
