/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    publishDir = [
        path: { "${params.outdir}/${params.taxonomy_id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Disable publishing for intermediate BAM/CRAM processing
    withName: 'SAMTOOLS_VIEW' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/samtools_view",
            enabled: false
        ]
    }

    withName: 'COLLATE_FASTQ_MAP' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/collate_fastq",
            enabled: false
        ]
    }

    withName: 'COLLATE_FASTQ_UNMAP' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/collate_fastq",
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_MERGE_UNMAP' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/samtools_merge",
            enabled: false
        ]
    }

    withName: 'INDEX_MARKDUPLICATES' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/index",
            enabled: false
        ]
    }

    // Reference Retrieval
    withName: 'BIODBCORE_REFSEQ' {
        container = "docker.io/luppo/biodbcore:1b8dd90e307a6937b09b9d7088f3b8ec5e8dacc8"
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/ref",
            mode: 'copy',
            overwrite: false
        ]
    }

    withName: 'TABIX_BGZIP' {
        container = 'quay.io/biocontainers/htslib:1.22.1--h566b1c6_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref"
    }

    withName: 'TABIX_BGZIP_SINGLE_FASTQ' {
        container = 'quay.io/biocontainers/htslib:1.22.1--h566b1c6_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref"
        ext.prefix = { "single_${meta.id}" }
    }

    withName: 'TABIX_BGZIP_DOUBLE_1' {
        container = 'quay.io/biocontainers/htslib:1.22.1--h566b1c6_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref"
        ext.prefix = { "first_${meta.id}" }
    }

    withName: 'TABIX_BGZIP_DOUBLE_2' {
        container = 'quay.io/biocontainers/htslib:1.22.1--h566b1c6_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref"
        ext.prefix = { "second_${meta.id}" }
    }

    // Sequence Processor
    withName: 'BIODBCORE_ENA' {
        container = "docker.io/luppo/biodbcore:1b8dd90e307a6937b09b9d7088f3b8ec5e8dacc8"
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/ena",
            mode: 'copy'
        ]
    }

    withName: 'DORADO_FAST5' {
        container = 'docker.io/nanoporetech/dorado:sha268dcb4cd02093e75cdc58821f8b93719c4255ed'
        publishDir = "${params.outdir}/${params.taxonomy_id}/dorado"
        ext.args = ""
        ext.model = "${params.dorado_model_fast5}"
    }

    withName: 'DORADO_POD5' {
        container = 'docker.io/nanoporetech/dorado:sha268dcb4cd02093e75cdc58821f8b93719c4255ed'
        publishDir = "${params.outdir}/${params.taxonomy_id}/dorado"
        ext.args = ""
        ext.model = "${params.dorado_model_pod5}"
    }

    withName: 'SRATOOLS_FASTERQDUMP' {
        container = 'quay.io/biocontainers/mulled-v2-5f89fe0cd045cb1d615630b9261a1d17943a9b6a:2f4a4c900edd6801ff0068c2b3048b4459d119eb-0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ena"
    }

    withName: 'SAMTOOLS_COLLATEFASTQ' {
        container = 'biocontainers/samtools:1.22.1--h96c455f_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/collatefastq",
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_MERGE' {
        container = 'biocontainers/samtools:1.22.1--h96c455f_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/merge",
            enabled: false
        ]
    }

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/cat_fastq",
            enabled: false
        ]
    }

    withName: 'BWAMEM2_INDEX' {
        container = 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref/bwamem2"
    }


    withName: 'BWAMEM2_MEM' {
        container = 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/alignments/bwamem2",
            enabled: false
        ]
        ext.args   = { "-R ${meta.read_group}" }
    }

    withName: 'BWA_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:1bd8542a8a0b42e0981337910954371d0230828e-0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/alignments/bwa",
            enabled: false
        ]
        ext.args   = { "-R ${meta.read_group}" }
    }

    // Processors
    withName: 'GUNZIP' {
        container = 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:be5befa5a6f1b695'
        publishDir = "${params.outdir}/${params.taxonomy_id}/gunzip"
        ext.prefix = { "${meta.id}" }
    }

    withName: 'GZIP' {
        container = 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:be5befa5a6f1b695'
        publishDir = "${params.outdir}/${params.taxonomy_id}/gzip"
        ext.prefix = { "${meta.id}" }
    }

    // Aligners
    withName: 'BWA_INDEX' {
        container = 'community.wave.seqera.io/library/bwa_htslib_samtools:83b50ff84ead50d0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref/bwa"
        memory = '8.GB'
    }

    withName: 'MINIMAP2_INDEX' {
        container = 'quay.io/biocontainers/minimap2:2.30--h5bf99c6_0'
        tag = { "${meta.id}" }
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref/minimap"
    }

    withName: 'SEQKIT_SIZE' {
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/seqkit_size",
            enabled: false
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        container = 'community.wave.seqera.io/library/minimap2_samtools:33bb43c18d22e29c'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/alignments/minimap2",
            enabled: false
        ]
        ext.args = {
            def ax_option = (meta.platform == 'pacbio') ? '-ax map-hifi' :
                            (meta.platform == 'ont') ? '-ax map-ont' :
                            '-ax sr'
            return "--MD --cs --eqx ${ax_option} -R ${meta.read_group}"
        }
    }

    withName: 'SAMTOOLS_FAIDX' {
        container = 'biocontainers/samtools:1.22.1--h96c455f_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/ref"
    }

    withName: 'SAMTOOLS_INDEX' {
        container = 'biocontainers/samtools:1.22.1--h96c455f_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/intermediate/index",
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        container = 'biocontainers/samtools:1.22.1--h96c455f_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/samtools_stats"
    }

    // Quality Control
    withName: 'SEQTK_SAMPLE' {
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/seqtk"
        ext.args = { "-s${params.seqtk_seed}" }
    }

        withName: 'NFCORE_EUKAVARIZER:SEQUENCE_PROCESSOR:QUALITY_CONTROL:PRE_FASTQC_MULTIQC_ANALYSIS:FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        ext.args = '--quiet'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/pre_fastqc"
    }

    withName: 'NFCORE_EUKAVARIZER:SEQUENCE_PROCESSOR:QUALITY_CONTROL:PRE_FASTQC_MULTIQC_ANALYSIS:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/${params.taxonomy_id}/qc/pre_multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_EUKAVARIZER:SEQUENCE_PROCESSOR:QUALITY_CONTROL:AFTER_FASTQC_MULTIQC_ANALYSIS:FASTQC' {
        ext.args = '--quiet'
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/after_fastqc"
    }

    withName: 'NFCORE_EUKAVARIZER:SEQUENCE_PROCESSOR:QUALITY_CONTROL:AFTER_FASTQC_MULTIQC_ANALYSIS:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/${params.taxonomy_id}/qc/after_multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTP' {
        container = 'community.wave.seqera.io/library/fastp:1.0.1--c8b87fe62dcc103c'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/fastp"
        ext.args = { params.fastp_args ?: "" }
    }

    withName: 'FASTPLONG' {
        container = 'quay.io/biocontainers/fastplong:0.3.0--h224cc79_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/fastplong"
        ext.args = { params.fastplong_args ?: "" }
    }

    withName: 'BBMAP_BBDUK' {
        container = 'community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/bbduk"
        ext.prefix = { "${meta.id}.trim" }
        ext.args = { "trimq=${params.bbduk_trimq} qtrim=${params.bbduk_qtrim}" }
        cpus = 1  // Force single-threaded for deterministic results
    }

    // Deduplication
    withName: 'GATK4SPARK_MARKDUPLICATES' {
        container = 'community.wave.seqera.io/library/gatk4-spark:4.6.2.0--8b5cd67ee60a714e'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/dedup"
    }

    withName: 'GATK4SPARK_BASERECALIBRATOR' {
        container = 'community.wave.seqera.io/library/gatk4-spark:4.6.2.0--8b5cd67ee60a714e'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/bqsr"
    }

    withName: 'GATK4SPARK_APPLYBQSR' {
        container = 'community.wave.seqera.io/library/gatk4-spark:4.6.2.0--8b5cd67ee60a714e'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/bqsr"
    }

    withName: 'GATK4_MARKDUPLICATES' {
        container = 'quay.io/biocontainers/mulled-v2-d9e7bad0f7fbc8f4458d5c3ab7ffaaf0235b59fb:7cc3d06cbf42e28c5e2ebfc7c858654c7340a9d5-0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/dedup"
    }

    withName: 'GATK4_BASERECALIBRATOR' {
        container = 'community.wave.seqera.io/library/gatk4_gcnvkernel:edb12e4f0bf02cd3'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/dedup"
    }

    withName: 'GATK4_APPLYBQSR' {
        container = 'community.wave.seqera.io/library/gatk4_gcnvkernel:edb12e4f0bf02cd3'
        publishDir = "${params.outdir}/${params.taxonomy_id}/qc/dedup"
    }

    // Structural Variant Callers
    withName: 'DELLY_CALL' {
        container = 'quay.io/biocontainers/delly:1.3.3--h4d20210_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/delly"
        errorStrategy = 'ignore'
        maxRetries = 2
        ext.suffix = "vcf"
        ext.args = {
            def profile =   (meta.platform == 'pacbio') ? '-y pb' :
                            (meta.platform == 'ont')    ? '-y ont' :
                                                            ''
            return "${profile} ${params.delly_args ?: ''}"
        }
    }

    withName: 'MANTA_GERMLINE' {
        container = 'quay.io/biocontainers/manta:1.6.0--h9ee0642_1'
        publishDir = "${params.outdir}/${params.taxonomy_id}/manta"
        errorStrategy = 'ignore' // Manta does not have a control for fail if low pairs are inputted, or OOM issues
        maxRetries = 2
        ext.args   = { (params.manta_args ?: "") + " --exome" }
    }

    withName: 'GRIDSS_GRIDSS' {
        container = 'quay.io/biocontainers/gridss:2.13.2--h270b39a_0'
        containerOptions = '--volume /usr/bin/time:/usr/bin/time'
        publishDir = "${params.outdir}/${params.taxonomy_id}/gridss"
        errorStrategy = 'ignore'
        maxRetries = 2
        ext.args = { (params.gridss_args ?: "") + " --steps all" }
    }

    withName: 'GRIDSS_ANNOTATE' {
        container = 'quay.io/biocontainers/bioconductor-structuralvariantannotation:1.22.0--r44hdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/gridss/annotate"
    }

    withName: 'DYSGU_RUN' {
        container = 'community.wave.seqera.io/library/dysgu:1.8.7--a06ec137d500dc83'
        publishDir = "${params.outdir}/${params.taxonomy_id}/dysgu"
        errorStrategy = 'ignore'
        maxRetries = 2
        ext.args = {
            def mode =  (meta.platform == 'pacbio') ? '--mode pacbio' :
                        (meta.platform == 'ont')    ? '--mode nanopore' :
                                                    '--mode pe'
            return "${mode} ${params.dysgu_args ?: ''}"
        }
    }

    withName: 'TIDDIT_SV' {
        container = 'quay.io/biocontainers/tiddit:3.6.1--py38h24c8ff8_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/tiddit"
        errorStrategy = 'ignore' // Has internal bug in new version, hopefully fixed by not giving it zipped file
        maxRetries = 3
        ext.args   = { (params.tiddit_args ?: "") + " --skip_assembly" }
    }

    withName: 'SVABA' {
        container = 'quay.io/biocontainers/svaba:1.2.0--h69ac913_1'
        publishDir = "${params.outdir}/${params.taxonomy_id}/svaba"
        errorStrategy = 'ignore'
        maxRetries = 2
        cpus = 6
        ext.args   = { (params.svaba_args ?: "") }
    }

    withName: 'SVABA_ANNOTATE' {
        container = 'quay.io/biocontainers/python:3.10'
        publishDir = "${params.outdir}/${params.taxonomy_id}/svaba/annotate"
    }

    withName: 'SNIFFLES' {
        container = 'quay.io/biocontainers/sniffles:2.6.3--pyhdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/sniffles"
        errorStrategy = 'ignore'
        maxRetries = 2
        ext.args   = { params.sniffles_args ?: "" }
    }

    withName: 'CUTESV' {
        container = 'quay.io/biocontainers/cutesv:2.0.2--pyhdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/cutesv"
        errorStrategy = 'ignore'
        maxRetries = 2
        ext.args = {
            def profile =   (meta.platform == 'pacbio') ?   '--max_cluster_bias_INS 1000 --diff_ratio_merging_INS 0.9 --max_cluster_bias_DEL 1000 --diff_ratio_merging_DEL 0.5' :
                            (meta.platform == 'ont')    ?   '--max_cluster_bias_INS 100 --diff_ratio_merging_INS 0.3 --max_cluster_bias_DEL 100 --diff_ratio_merging_DEL 0.3' :
                                                            '--max_cluster_bias_INS 1000 --diff_ratio_merging_INS 0.9 --max_cluster_bias_DEL 1000 --diff_ratio_merging_DEL 0.5'
            return "${profile} ${params.cutesv_args ?: ''} --genotype"
        }
    }

    withName: 'SAMPLE_REHEADER' {
        container = 'community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/reheader",
            mode: 'copy',
            overwrite: true
        ]
    }

    // Manta-specific SAMPLE_REHEADER processes with suffix
    withName: 'NFCORE_EUKAVARIZER:EUKAVARIZER:SV_CALLING_MANTA:INDELS_SAMPLE_REHEADER' {
        ext.suffix = '-small'
    }

    withName: 'NFCORE_EUKAVARIZER:EUKAVARIZER:SV_CALLING_MANTA:SV_SAMPLE_REHEADER' {
        ext.suffix = '-candidate'
    }

    withName: 'NFCORE_EUKAVARIZER:EUKAVARIZER:SV_CALLING_MANTA:DIPLOID_SAMPLE_REHEADER' {
        ext.suffix = '-diploid'
    }

    withName: 'SVYNC' {
        container = 'quay.io/biocontainers/svync:0.3.0--h9ee0642_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/results/svync"
    }

    // Report Generation
    withName: 'SURVIVOR_MERGE' {
        container = 'quay.io/biocontainers/survivor:1.0.7--h9a82719_1'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'SURVIVOR_FILTER' {
        container = 'quay.io/biocontainers/survivor:1.0.7--h9a82719_1'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf",
            mode: 'copy',
            overwrite: true
        ]
        ext.prefix = { "${meta.id}_survivor_merge_filtered"}
    }

    withName: 'SURVIVOR_STATS' {
        container = 'quay.io/biocontainers/survivor:1.0.7--h9a82719_1'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'BCFTOOLS_MERGE' {
        container = 'community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/merge/vcf",
            mode: 'copy',
            overwrite: true
        ]
        ext.args = '--force-samples -W=tbi -Oz'
    }

    withName: 'BCFTOOLS_CONCAT' {
        container = 'community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf",
            mode: 'copy',
            overwrite: true
        ]
        ext.args = '-W=tbi -Oz -a'
    }

    withName: 'BCFTOOLS_FILTER' {
        container = 'community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf",
            mode: 'copy',
            overwrite: true
        ]
        ext.prefix = { "${meta.id}_bcftools_filtered"}
        ext.args = { "${params.bcftools_filter_args ?: ''} -W=tbi -Oz" }
    }

    withName: 'BCFTOOLS_SORT' {
        container = 'community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf/sorted",
            mode: 'copy',
            overwrite: true
        ]
        ext.args = '-W=tbi -Oz'
    }

    withName: 'BCFTOOLS_STATS' {
        container = 'community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    // Analysis Tools
    withName: 'VARIFY' {
        container = "docker.io/luppo/varify:ac8b977976d91caf2495d1e02cb135073fac722b"
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
        time = '12h'
    }
}
