/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Retrivers

    // withName: 'REFSEQ_RETRIEVER' {
    //     container = 'docker.io/luppo/biodbcore:latest'
    //     publishDir = [
    //         path: "${params.outdir}",
    //         mode: 'copy',
    //         overwrite: false
    //     ]
    // }

    // withName: 'SEQUENCE_RETRIEVER' {
    //     container = 'docker.io/luppo/biodbcore:latest'
    //     publishDir = [
    //         path: "${params.outdir}",
    //         mode: 'copy'
    //     ]
    // }




    // Analysis Tools

    withName: 'AFTER_FASTQC_MULTIQC_ANALYSIS:FASTQC' {
        ext.args = '--quiet'
        container = 'biocontainers/fastqc:0.12.1--hdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/new-after-fastqc"
    }

    withName: 'AFTER_FASTQC_MULTIQC_ANALYSIS:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/${params.taxonomy_id}/new-after-multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PRE_FASTQC_MULTIQC_ANALYSIS:FASTQC' {
        ext.args = '--quiet'
        container = 'biocontainers/fastqc:0.12.1--hdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/new-pre-fastqc"
    }

    withName: 'PRE_FASTQC_MULTIQC_ANALYSIS:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/${params.taxonomy_id}/new-pre-multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQTK_SAMPLE' {
        // ext.args = '-s 42'
        publishDir = "${params.outdir}/${params.taxonomy_id}/seqtk"
    }

    withName: 'FASTP' {
        // Auto-detect adapters for paired-end reads
        // Minimum base quality score of 15
        // Minimum read length of 50 bases
        // Trim poly-G tails (common with NovaSeq)
        // Trim low-quality bases from the front
        // Trim low-quality bases from the tail
        // Trim from the right end of reads
        // 4-base window for right-end trimming
        // Right-end trimming for mean quality < 15
        // Allow up to 10 ambiguous bases (N)
        // // Use 4 threads for faster processing
        ext.args = "--detect_adapter_for_pe \
            --qualified_quality_phred 15 \
            --length_required 50 \
            --trim_poly_g \
            --cut_front \
            --cut_tail \
            --cut_right \
            --cut_right_window_size 4 \
            --cut_right_mean_quality 15 \
            --n_base_limit 10 \
            --thread 4"
        publishDir = "${params.outdir}/${params.taxonomy_id}/fastp"
    }

    withName: 'BBMAP_BBDUK' {
        ext.args = 'trimq=10 qtrim=r'
        ext.prefix = { "${meta.id}.trim" }
        publishDir = "${params.outdir}/${params.taxonomy_id}/bbduk"
    }

    // Retrieval Tools
    withName: 'SAMTOOLS_COLLATEFASTQ' {
        container = 'biocontainers/samtools:1.21--h50ea8bc_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/collatefastq"
    }

    withName: 'TO_FASTQ' {
        container = 'biocontainers/samtools:1.21--h50ea8bc_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/convert"
    }

    // Input Generators

    withName: 'GUNZIP' {
        container = 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:be5befa5a6f1b695'
        publishDir = "${params.outdir}/${params.taxonomy_id}/gunzip"
    }

    withName: 'BWA_INDEX' {
        container = 'quay.io/biocontainers/bwa:0.7.8--hed695b0_5'
        publishDir = "${params.outdir}/${params.taxonomy_id}/bwa"
    }

    withName: 'MINIMAP2_ALIGN' {
        container = 'biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3161f532a5ea6f1dec9be5667c9efc2afdac6104-0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/minimap"
        ext.args = "--secondary=no --MD --cs -x sr --eqx"
    }

    withName: 'BWA_MEM' {
        container = 'biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:1bd8542a8a0b42e0981337910954371d0230828e-0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/bwa"
    }

    withName: 'SAMTOOLS_SORT' {
        container = 'quay.io/biocontainers/samtools:1.9--h91753b0_8'
        publishDir = "${params.outdir}/${params.taxonomy_id}/samtools"
    }

    withName: 'SAMTOOLS_INDEX' {
        container = 'quay.io/biocontainers/samtools:1.9--h91753b0_8'
        publishDir = "${params.outdir}/${params.taxonomy_id}/samtools"
    }

    withName: 'SAMTOOLS_FAIDX' {
        container = 'quay.io/biocontainers/samtools:1.9--h91753b0_8'
        publishDir = "${params.outdir}/${params.taxonomy_id}/samtools"
    }

    withName: 'TABIX_BGZIP' {
        container = 'quay.io/biocontainers/htslib:1.9--hc238db4_4'
        publishDir = "${params.outdir}/${params.taxonomy_id}/tabix"
    }

    // Structural Variant Callers

    withName: 'DELLY_CALL' {
        container = 'quay.io/biocontainers/delly:1.3.3--h4d20210_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/delly"
        errorStrategy = 'retry'
        maxRetries = 2
        ext.suffix = "vcf"
        ext.args = "--map-qual 20 --mad-cutoff 9 --maxreadsep 1000 --svtype DEL"
    }

    withName: 'MANTA_GERMLINE' {
        publishDir = "${params.outdir}/${params.taxonomy_id}/manta"
        errorStrategy = 'ignore' // Manta does not have a control for fail if low pairs are inputted
        maxRetries = 2
        ext.args = ""
    }

    withName: 'GRIDSS_GRIDSS' {
        container = 'biocontainers/gridss:2.13.2--h270b39a_0'
        containerOptions = '--volume /usr/bin/time:/usr/bin/time'
        publishDir = "${params.outdir}/${params.taxonomy_id}/gridss"
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'DYSGU' {
        container = 'community.wave.seqera.io/library/dysgu:1.6.5--69cfa1b1db5c2aec'
        publishDir = "${params.outdir}/${params.taxonomy_id}/dysgu"
        errorStrategy = 'ignore'
        maxRetries = 2
    }

    withName: 'TIDDIT_SV' {
        container = 'quay.io/biocontainers/tiddit:3.9.2--py312hc9302aa_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/tiddit"
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'SVABA' {
        container = 'biocontainers/svaba:1.1.0--h7d7f7ad_2'
        publishDir = "${params.outdir}/${params.taxonomy_id}/svaba"
        errorStrategy = 'ignore'
        maxRetries = 2
    }

    withName: 'SNIFFLES' {
        container = 'quay.io/biocontainers/sniffles:2.6.0--pyhdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/sniffles"
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'CUTESV' {
        container = 'quay.io/biocontainers/cutesv:2.1.1--pyhdfd78af_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/cutesv"
        ext.args = '--max_cluster_bias_INS 100 --diff_ratio_merging_INS	0.3 --max_cluster_bias_DEL 100 --diff_ratio_merging_DEL 0.3 --max_size -1 --max_split_parts -1 --report_readid --sample cutesv_report_sample'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'SAMPLE_REHEADER' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results/reheader",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'SVYNC' {
        container = 'quay.io/biocontainers/svync:0.1.2--h9ee0642_0'
        publishDir = "${params.outdir}/${params.taxonomy_id}/bfctools/svync"
    }

    // Report Generation

    withName: 'BCFTOOLS_CSQ' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
        ext.prefix = '_annotated'
        ext.args = '-Ov'
    }



    withName: 'SURVIVOR_MERGE' {
        container = 'quay.io/biocontainers/survivor:1.0.7--he513fc3_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'SURVIVOR_FILTER' {
        container = 'quay.io/biocontainers/survivor:1.0.7--he513fc3_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
        ext.prefix = '_filtered'
    }

    withName: 'SURVIVOR_STATS' {
        container = 'quay.io/biocontainers/survivor:1.0.7--he513fc3_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'BCFTOOLS_MERGE' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
        ext.args = '--force-single'
    }

    withName: 'BCFTOOLS_FILTER' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
        ext.prefix = '_filtered'
    }

    withName: 'BCFTOOLS_STATS' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        publishDir = [
            path: "${params.outdir}/${params.taxonomy_id}/results",
            mode: 'copy',
            overwrite: true
        ]
    }

    // Analysis Tools
    // withName: 'VARIFY' {
    //     publishDir = [
    //         path: "${params.outdir}/${params.taxonomy_id}/results",
    //         mode: 'copy',
    //         overwrite: true
    //     ]
    // }

}
