/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eukavarizer minimal test: rice_indica_minimal_sv_all_callers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This profile runs a lightweight structural variant (SV) test using a minimal
    short-read dataset for *Oryza sativa* Indica Group (taxonomy ID: 39946). All SV
    callers except SVABA are enabled. It aligns indica reads to the IRGSP Nipponbare
    reference genome to detect inter-subspecies SVs.

    Usage:
        nextflow run nf-core/eukavarizer -profile rice_indica_minimal_sv_all_callers,docker
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'rice_indica_minimal_sv_all_callers'
    config_profile_description = 'Minimal short-read test on rice indica (39946) with all SV callers enabled except SVABA.'

    // Reference and reads
    taxonomy_id       = 39946
    // reference_genome  = "./data/${taxonomy_id}/ref/GCA_000004655.2.fasta.gz"        // BIG

    // Sequence Processor Parameters
    minimap2_flag                   = false
    long_read_threshold             = 300
    bwamem2                         = false
    seqtk_flag                      = false
    seqtk_size                      = 1.0

    // SV callers
    delly_flag                      = true
    manta_flag                      = true
    gridss_flag                     = false
    dysgu_flag                      = true
    tiddit_flag                     = true
    svaba_flag                      = true
    sniffles_flag                   = true
    cutesv_flag                     = true
    cutesv_args                     = "--report_readid --max_split_parts -1"
    sniffles_args                   = "--mapq 20 --minsvlen 50 --minsupport auto"

    // Quality Control Parameters
    fastqc_flag                     = false
    multiqc_flag                    = false

    deduplicate_flag                = true
    
    // Filter
    bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"
}
