/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eukavarizer minimal test: yeast_minimal_sv_all_callers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This profile runs a lightweight structural variant (SV) test using a minimal
    short-read dataset for *Saccharomyces cerevisiae* (taxonomy ID: 4932). All SV
    callers except SVABA are enabled. It uses the RefSeq reference genome.

    This is designed for quick functional validation of the pipeline with local test data.

    Usage:
        nextflow run nf-core/eukavarizer -profile test_nano,docker
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'yeast_minimal_sv_all_callers'
    config_profile_description = 'Minimal short-read test on yeast (4932) with all SV callers enabled except SVABA.'

    // Example local or minimal test data
    taxonomy_id       = 8888
    outdir            = "./output"
    reference_genome  = "./data/4932/ref/GCF_000146045.2_R64_genomic.fna.gz"
    sequence_dir      = "./data/test_fast5"

    params.dorado_model_fast5       = "/models/dna_r9.4.1_e8_fast@v3.4"
    params.dorado_model_pod5        = "/models/dna_r9.4.1_e8_fast@v3.4"

    // Sequence Processor Parameters
    minimap2_flag                   = true
    long_read_threshold             = 20
    bwamem2                         = false // Svaba not supported with bwamem2
    seqtk_flag                      = false
    seqtk_size                      = 1.0

    // Enable SV callers (except svaba)
    delly_flag                      = false
    manta_flag                      = false
    gridss_flag                     = false
    dysgu_flag                      = false
    tiddit_flag                     = false
    svaba_flag                      = false
    sniffles_flag                   = false
    cutesv_flag                     = false
    dysgu_args                      = "${params.dysgu_profile}"
    cutesv_args                     = "${params.cutesv_profile} --report_readid --max_split_parts -1"

    // Quality Control Parameters
    fastqc_flag                     = false
    multiqc_flag                    = false

    // BCFTOOLS filter
    bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"' -Oz"
}
