/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eukavarizer full-size test: human_full_sv_all_callers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This profile runs a full-size structural variant (SV) analysis using all supported
    SV callers (except SVABA) on *Homo sapiens* (taxonomy ID: 9606). It uses GRCh38 as
    the reference genome and paired-end short-read data retrieved from ENA.

    Includes quality control, full SV merging and filtering with SURVIVOR and BCFtools.

    Usage:
        nextflow run nf-core/eukavarizer -profile test_full,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'human_full_sv_all_callers'
    config_profile_description = 'Full-size test on human short-read data using all SV callers except SVABA.'

    taxonomy_id                     = 9606
    outdir                          = "./output"
    reference_genome                = "./data/${taxonomy_id}/ref/hg38.fa.gz"
    sequence_dir                    = "./data/${taxonomy_id}/gib/"

    // Sequence Processor Parameters
    minimap2_flag                   = false
    long_read_threshold             = 300
    bwamem2                         = false // Svaba not supported with bwamem2
    seqtk_flag                      = false
    seqtk_size                      = 1.0


    // Quality Control Parameters
    fastp_args = "--detect_adapter_for_pe \
        --qualified_quality_phred 15 \
        --length_required 50 \
        --trim_poly_g \
        --cut_front \
        --cut_tail \
        --cut_right \
        --cut_right_window_size 4 \
        --cut_right_mean_quality 15 \
        --n_base_limit 10"
    fastplong_args = "--qualified_quality_phred 15 \
        --length_required 50 \
        --n_base_limit 10 \
        --low_complexity_filter \
        --complexity_threshold 30"
    bbduk_trimq                     = 10
    bbduk_qtrim                     = 'r'

    // Enable SV callers (except svaba)
    delly_flag                      = true
    manta_flag                      = true
    gridss_flag                     = true
    dysgu_flag                      = true
    tiddit_flag                     = true
    svaba_flag                      = true
    sniffles_flag                   = true
    cutesv_flag                     = true

    dysgu_args                      = "${params.dysgu_profile}"
    cutesv_args                     = "${params.cutesv_profile} --report_readid --max_split_parts -1"

    // Quality Control Parameters
    fastqc_flag  = false
    multiqc_flag = false

    // SURVIVOR filtering
    sur_min_sv_size                     = 40
    sur_max_distance_breakpoints        = 1000
    sur_min_supporting_callers          = 1
    sur_account_for_type                = 1
    sur_account_for_sv_strands          = 0
    sur_estimate_distanced_by_sv_size   = 0
    sur_min_num_reads_filter            = 3
    sur_min_allele_freq_filter          = 0.01
    sur_min_sv_size_filter              = 50
    sur_max_sv_size_filter              = 100000

    // BCFTOOLS filter
    bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"' -Oz"
}
