profiles {

    /* ===========================
     * SHORT READS
     * =========================== */
    short_quick {
        params {
            // Which callers are used?
            delly_flag      = true
            manta_flag      = false
            tiddit_flag     = false
            gridss_flag     = true
            sniffles_flag   = false
            cutesv_flag     = false
            fastqc_flag     = false
            multiqc_flag    = false
            svaba_flag      = false
            dysgu_flag      = false

            // Caller args
            delly_args      = "--svtype ALL -q 1 --mad-cutoff 9 --maxreadsep 40 --minrefsep 25 --minclip 25 --min-clique-size 2 --qual-tra 20"
            gridss_args     = "--maxcoverage 30000"
            tiddit_args     = "-q 5 -p 2 -r 3 -z 50 --max_coverage 4 -n 2"
            manta_args      = "--generateEvidenceBam"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 40
            sur_max_distance_breakpoints  = 500
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    short_medium {
        params {
            delly_flag      = true
            manta_flag      = false
            tiddit_flag     = true
            gridss_flag     = true
            sniffles_flag   = false
            cutesv_flag     = false
            svaba_flag      = false
            dysgu_flag      = false
            fastqc_flag     = true
            multiqc_flag    = true

            // Caller args
            delly_args      = "--svtype ALL -q 1 --mad-cutoff 9 --maxreadsep 40 --minrefsep 25 --minclip 25 --min-clique-size 2 --qual-tra 20"
            gridss_args     = "--maxcoverage 30000"
            tiddit_args     = "-q 5 -p 2 -r 3 -z 50 --max_coverage 4 -n 2"
            manta_args      = "--generateEvidenceBam"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 40
            sur_max_distance_breakpoints  = 1000
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    short_full {
        params {
            delly_flag      = true
            manta_flag      = true
            tiddit_flag     = true
            gridss_flag     = true
            svaba_flag      = true
            dysgu_flag      = true
            sniffles_flag   = false
            cutesv_flag     = false
            fastqc_flag     = true
            multiqc_flag    = true

            // Caller args
            delly_args      = "--svtype ALL -q 1 --mad-cutoff 9 --maxreadsep 40 --minrefsep 25 --minclip 25 --min-clique-size 2 --qual-tra 20"
            manta_args      = "--generateEvidenceBam"
            tiddit_args     = "-q 10 -p 2 -r 3 -z 50 --max_coverage 4 -n 2"
            gridss_args     = "--maxcoverage 30000"
            svaba_args      = "--max-reads 50000 --max-reads-mate-region 400"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 40
            sur_max_distance_breakpoints  = 1000
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    /* ===========================
     * LONG READS
     * =========================== */
    long_quick {
        params {
            delly_flag      = false
            manta_flag      = false
            tiddit_flag     = false
            gridss_flag     = false
            svaba_flag      = false
            dysgu_flag      = false
            sniffles_flag   = true
            cutesv_flag     = true
            fastqc_flag     = false
            multiqc_flag    = false

            // Caller args
            sniffles_args   = "--mapq 20 --minsvlen 50 --minsupport auto"
            cutesv_args     = "--report_readid --max_split_parts -1"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 50
            sur_max_distance_breakpoints  = 1000
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    long_medium {
        params {
            delly_flag      = false
            manta_flag      = false
            tiddit_flag     = false
            gridss_flag     = false
            svaba_flag      = false
            dysgu_flag      = true
            sniffles_flag   = true
            cutesv_flag     = true
            fastqc_flag     = true
            multiqc_flag    = true

            // Caller args
            sniffles_args   = "--mapq 20 --minsvlen 50 --minsupport auto"
            cutesv_args     = "--report_readid --max_split_parts -1"
            svaba_args      = "--max-reads 50000 --max-reads-mate-region 400"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 50
            sur_max_distance_breakpoints  = 1500
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    long_full {
        params {
            delly_flag      = true
            manta_flag      = false
            tiddit_flag     = false
            gridss_flag     = false
            svaba_flag      = false
            dysgu_flag      = true
            sniffles_flag   = true
            cutesv_flag     = true
            fastqc_flag     = true
            multiqc_flag    = true

            // Caller args
            delly_args      = "--svtype ALL"
            sniffles_args   = "--mapq 20 --minsvlen 50 --minsupport auto"
            cutesv_args     = "--report_readid --max_split_parts -1"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 50
            sur_max_distance_breakpoints  = 2000
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    /* ===========================
     * MIXED READS
     * =========================== */
    mix_quick {
        params {
            delly_flag      = true
            manta_flag      = false
            tiddit_flag     = false
            gridss_flag     = false
            svaba_flag      = false
            dysgu_flag      = false
            sniffles_flag   = true
            cutesv_flag     = false
            fastqc_flag     = false
            multiqc_flag    = false

            // Caller args
            delly_args      = "--svtype ALL -q 1 --maxreadsep 40 --minrefsep 25 --minclip 25 --min-clique-size 2"
            gridss_args     = "--maxcoverage 50000"
            tiddit_args     = "-q 10 -p 2 -r 3 -z 50 --max_coverage 4 -n 2"
            manta_args      = "--generateEvidenceBam"
            sniffles_args   = "--mapq 20 --minsvlen 50 --minsupport auto"
            cutesv_args     = "--report_readid --max_split_parts -1"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 40
            sur_max_distance_breakpoints  = 1000
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    mix_medium {
        params {
            delly_flag      = true
            manta_flag      = false
            tiddit_flag     = true
            gridss_flag     = false
            svaba_flag      = false
            dysgu_flag      = false
            sniffles_flag   = true
            cutesv_flag     = true
            fastqc_flag     = true
            multiqc_flag    = true

            // Caller args
            delly_args      = "--svtype ALL -q 1 --maxreadsep 40 --minrefsep 25 --minclip 25 --min-clique-size 2"
            gridss_args     = "--maxcoverage 50000"
            tiddit_args     = "-q 10 -p 2 -r 3 -z 50 --max_coverage 4 -n 2"
            manta_args      = "--generateEvidenceBam"
            sniffles_args   = "--mapq 20 --minsvlen 50 --minsupport auto"
            cutesv_args     = "--report_readid --max_split_parts -1"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 40
            sur_max_distance_breakpoints  = 1500
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    mix_full {
        params {
            delly_flag      = true
            manta_flag      = true
            tiddit_flag     = true
            gridss_flag     = true
            sniffles_flag   = true
            cutesv_flag     = true
            svaba_flag      = true
            dysgu_flag      = true
            fastqc_flag     = true
            multiqc_flag    = true

            // Caller args
            delly_args      = "--svtype ALL -q 1 --maxreadsep 40 --minrefsep 25 --minclip 25 --min-clique-size 2"
            tiddit_args     = "-q 10 -p 2 -r 3 -z 50 --max_coverage 4 -n 2"
            manta_args      = "--generateEvidenceBam"
            gridss_args     = "--maxcoverage 50000"
            sniffles_args   = "--mapq 20 --minsvlen 50 --minsupport auto"
            cutesv_args     = "--report_readid --max_split_parts -1"
            svaba_args      = "--max-reads 50000 --max-reads-mate-region 400"

            // BCFTOOLS filter arguments
            bcftools_filter_args = "--include '(SVLEN <= -50 || SVLEN >= 50 || SVLEN == 0) && QUAL>20 && GT!=\"0/0\" && FILTER==\"PASS\"'"

            // SURVIVOR Filtering parameters
            sur_min_sv_size               = 40
            sur_max_distance_breakpoints  = 2000
            sur_min_supporting_callers    = 1
            sur_account_for_type          = 1
            sur_account_for_sv_strands    = 0
            sur_estimate_distanced_by_sv_size = 0
            sur_min_num_reads_filter      = 3
            sur_min_allele_freq_filter    = 0.01
            sur_min_sv_size_filter        = 50
            sur_max_sv_size_filter        = 100000
        }
    }

    /* ===========================
     * QC toggles
     * =========================== */
    qc_on {
        params {
            fastqc_flag  = true
            multiqc_flag = true
        }
    }

    qc_off {
        params {
            fastqc_flag  = false
            multiqc_flag = false
        }
    }
}
